<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>The Bloom Atelier</title>
</head>
<body>

<!--Display username and role-->
<p>
    User: <span sec:authentication="principal.username"></span>
    <br><br>
    Role(s): <span sec:authentication="principal.authorities"></span>
</p>

<hr>

<div sec:authorize="hasRole('ADMIN')">
    <h3>WELCOME BACK! <span sec:authentication="principal.username"></span></h3>
</div>

<div sec:authorize="hasRole('BUYER')">
    <h3>Good to see you again! <span sec:authentication="username"></span> </h3>
</div>

</body>
</html>